
<div>
    <h2>{{title}}</h2>

<label>Filter by</label><br>
<input type="text" id="filter">
<br>
<br>
<label id="count">Total Number of Employees : {{employees.length}}</label>
<br>
<br><br>
<table border='1'>
<th>Emp ID</th><th>Name</th><th>Location</th><th>Email</th>
<th>Mobile</th>
<th>Edit</th>
<th>Delete</th>

 
        <tr *ngFor="let employee of employees">
           <td> <a [routerLink]="['/details']" [queryParams]="{ empid: employee.id}" >
                {{employee.id}}</a></td>
            <td>{{employee.name}}</td>    
             <td>{{employee.location}}</td> 
              <td>{{employee.email}}</td>
               <td>{{employee.mobile}}</td>
               <td><a [routerLink]="employee.id">Edit</a></td>
               <td><a [routerLink]="employee.id">Delete</a></td>
        </tr>
       
</table>

       
</div>